apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-nfs-server-provisioner
spec:
  capacity:
    storage: ${disk_size}i
  volumeMode: Filesystem
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
#  claimRef:
#    namespace: default
#    name: 
  storageClassName: manual
  hostPath:
    path: ${mount_path}

