export MINIO_ACCESS_KEY="0chain"
export MINIO_SECRET_KEY="Qnqkaet0fmJxBMWFDuUN"

sudo docker run -p 9000:9000 --name minio   -e "MINIO_ACCESS_KEY=0chain"   -e "MINIO_SECRET_KEY=Qnqkaet0fmJxBMWFDuUN"   -v /minio/disk1:/data   minio/minio server /data
sudo docker run -p 9000:9000 --name minio   -e "MINIO_ACCESS_KEY=0chain"   -e "MINIO_SECRET_KEY=Qnqkaet0fmJxBMWFDuUN"   -v /disk1:/data1 -v /disk2:/data2  minio/minio server http://localhost:9000/data1 http://localhost:9000/data2 http://minio1.devnet-0chain.net:9000/data1 http://minio3.devnet-0chain.net:9000/data1
sudo docker run -p 9000:9000 --name minio   -e "MINIO_ACCESS_KEY=0chain"   -e "MINIO_SECRET_KEY=Qnqkaet0fmJxBMWFDuUN"   -v /disk1:/data1  minio/minio server http://localhost:9000/data1 http://minio2.devnet-0chain.net:9000/data1 http://minio2.devnet-0chain.net:9000/data2 http://minio3.devnet-0chain.net:9000/data1
sudo docker run -p 9000:9000 --name minio   -e "MINIO_ACCESS_KEY=0chain"   -e "MINIO_SECRET_KEY=Qnqkaet0fmJxBMWFDuUN"   -v /disk1:/data1  minio/minio server http://localhost:9000/data1 http://minio2.devnet-0chain.net:9000/data1 http://minio2.devnet-0chain.net:9000/data2 http://minio1.devnet-0chain.net:9000/data1

./minio server http://minio1.devnet-0chain.net:9000/disk1 http://minio2.devnet-0chain.net:9000/disk1 http://minio2.devnet-0chain.net:9000/disk2 http://minio3.devnet-0chain.net:9000/disk1

sudo docker run -p 9000:9000 --name minio   -e "MINIO_ACCESS_KEY=0chain"   -e "MINIO_SECRET_KEY=Qnqkaet0fmJxBMWFDuUN"   -v /minio/disk1:/data1 -v /minio/disk2:/data2 -v /minio/disk3:/data3 -v /minio/disk4:/data4   minio/minio server /data1 /data2 /data3 /data4 
