spec:
  ports:
  - name: http
    nodePort: ${ambassador_svc_http_port}
    port: 80
    protocol: TCP
    targetPort: http
  - name: https
    nodePort: ${ambassador_svc_https_port}
    port: 443
    protocol: TCP
    targetPort: https
  - name: 0proxy
    nodePort: 31082
    port: 9082
    protocol: TCP
